* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: gray;
  height: 100vh;
  width: 100%;

  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-template-rows: repeat(3, 100px); */
}

.box {
  background: pink;
}
